{
  "mainWakeupInterval" : 100,
  "clockUpdatePacketInterval" : 500,
  "clientWaitLimit" : 40000,
  "updateMeasureWindow" : 60000,
  "storageTriggerInterval" : 60000,
  "maxBehindUpdates" : 30,

  "connectionTimeout" : 60000,
  "socketTimeout" : 60000,

  "worldInactiveShutdown" : 30000,

  "speciesShips" : {
    "apex" : "/Madtulip/ships/glitch/dropship_block_only.structure",
    "avian" : "/Madtulip/ships/glitch/dropship_block_only.structure",
    "floran" : "/Madtulip/ships/glitch/dropship_block_only.structure",
    "human" : "/Madtulip/ships/glitch/dropship_block_only.structure",
    "hylotl" : "/Madtulip/ships/glitch/dropship_block_only.structure",
    "glitch" : "/Madtulip/ships/glitch/dropship_block_only.structure"
  }
}
