{
	"__merge" : [],
	"defaultItems" : [
	],
	"defaultBlueprints" : {
		"__merge" : [],
		"tier1" : [
			{ "item" : "madtulip_tier1_pod" },

			{ "item" : "madtulip_polymer" },
			{ "item" : "madtulip_ic_logic" },
			{ "item" : "madtulip_silicium" },
		
			{ "item" : "madtulip_shiplight" },
			
			{ "item" : "madtulip_glitch_tower" },
			
			{ "item" : "madtulip_human_turret" },

			{ "item" : "madtulip_apex_small_fin" },
			{ "item" : "madtulip_avian_small_fin" },
			{ "item" : "madtulip_glitch_small_fin" },
			{ "item" : "madtulip_hylotl_small_fin" },
			{ "item" : "madtulip_human_small_fin" },
			
			{ "item" : "madtulip_apex_flux_compensator" },
			{ "item" : "madtulip_avian_flux_compensator" },
			{ "item" : "madtulip_glitch_flux_compensator" },
			{ "item" : "madtulip_human_flux_compensator" },
			{ "item" : "madtulip_hylotl_flux_compensator" }
		],
		"tier2" : [
			{ "item" : "madtulip_tier2_pod" },
			
			{ "item" : "madtulip_shipdoor" },
			{ "item" : "madtulip_fuelhatch" },
			
			{ "item" : "madtulip_landing_gear_1" },
			{ "item" : "madtulip_landing_gear_2" },
			{ "item" : "madtulip_landing_gear_3" },
		
			{ "item" : "madtulip_human_engine_core" },

			{ "item" : "madtulip_glitch_tower2" },
			
			{ "item" : "madtulip_apex_turret" },
			{ "item" : "madtulip_glitch_turret" },
			{ "item" : "madtulip_human_turret2" },
			{ "item" : "madtulip_human_turret_missile" },
			
			{ "item" : "madtulip_apex_medium_fin" },
			{ "item" : "madtulip_avian_medium_fin" },
			{ "item" : "madtulip_glitch_medium_fin" },
			{ "item" : "madtulip_hylotl_medium_fin" },
			{ "item" : "madtulip_human_medium_fin" },
			
			{ "item" : "madtulip_avian_heat_absorber" },
			{ "item" : "madtulip_glitch_heat_absorber" }
		],
		"tier3" : [
			{ "item" : "madtulip_tier3_pod" },
		
			{ "item" : "madtulip_shipnavigationconsole" },
			{ "item" : "madtulip_techstation" },
			{ "item" : "madtulip_teleporter" },
			{ "item" : "madtulip_captainschair" },
			{ "item" : "madtulip_shipstation" },
			{ "item" : "madtulip_status_monitor" },
			{ "item" : "madtulip_vent" },
			{ "item" : "madtulip_shiplocker" },
		
			{ "item" : "madtulip_apex_large_fin" },
			{ "item" : "madtulip_avian_large_fin" },
			{ "item" : "madtulip_human_large_fin" },
			{ "item" : "madtulip_hylotl_large_fin" },

			{ "item" : "madtulip_apex_stabilization_thruster" },
			{ "item" : "madtulip_avian_stabilization_thruster" },			
			{ "item" : "madtulip_floran_stabilization_thruster" },
			{ "item" : "madtulip_glitch_stabilization_thruster" },
			{ "item" : "madtulip_human_stabilization_thruster" },
			{ "item" : "madtulip_hylotl_stabilization_thruster" },
			
			{ "item" : "madtulip_apex_ftl_thruster" },
			{ "item" : "madtulip_avian_ftl_thruster" },			
			{ "item" : "madtulip_floran_ftl_thruster" },
			{ "item" : "madtulip_glitch_ftl_thruster" },
			{ "item" : "madtulip_human_ftl_thruster" },

			{ "item" : "madtulip_apex_gyro_stabilizer" },
			{ "item" : "madtulip_avian_gyro_stabilizer" },			
			{ "item" : "madtulip_glitch_gyro_stabilizer" },
			{ "item" : "madtulip_hylotl_gyro_stabilizer" },
			{ "item" : "madtulip_human_gyro_stabilizer" },
			
			{ "item" : "madtulip_avian_ship_comms" },
			{ "item" : "madtulip_glitch_ship_comms" },
			{ "item" : "madtulip_human_ship_comms" },
			
			{ "item" : "madtulip_avian_crystal_energy_core" }
		],
		"tier4" : [
			{ "item" : "madtulip_tier4_pod" }
		],
		"level32" : [
			{ "item" : "miab_basestore_scanner" },
			{ "item" : "miab_basestore_receiver" }
		],
		"portable3dprinter" : [
			// theese will all unlock in 3D printer for money and in shipstation for metal
			//{ "item" : "smoothmetal" }, // unlocked triggered by 3D printer already
			//{ "item" : "apexshipwall" }, // unlocked triggered by 3D printer already
			//{ "item" : "modernplatform" }, // unlocked triggered by 3D printer already
			{ "item" : "apexshipdetails" },
			{ "item" : "apexshipsupport" },
			{ "item" : "pressurizedsteel" }
		]
	}
}