{
	"__merge" : [],
	"speciesShips" : {
		"__merge" : [
		[ "overwrite", "apex" ],
		[ "overwrite", "avian" ],
		[ "overwrite", "floran" ],
		[ "overwrite", "human" ],
		[ "overwrite", "hylotl" ],
		[ "overwrite", "glitch" ]
    ],
	"apex" : "/ships/apex/madtulip_dropship.structure",
    "avian" : "/ships/avian/madtulip_dropship.structure",
    "floran" : "/ships/floran/madtulip_dropship.structure",
    "human" : "/ships/human/madtulip_dropship.structure",
    "hylotl" : "/ships/hylotl/madtulip_dropship.structure",
    "glitch" : "/ships/glitch/madtulip_dropship.structure"
  }
}