{
  "blockKey": [
    {
      "comment": "no comment defined",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "value": [
        255,
        255,
        255,
        255
      ]
    },
    {
      "comment": "no comment defined",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "value": [
        0,
        0,
        255,
        255
      ]
    },
    {
      "comment": "no comment defined",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "value": [
        255,
        0,
        0,
        255
      ]
    },
    {
      "comment": "apexshipsupport",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "apexshipsupport",
      "value": [
        2,
        0,
        3,
        255
      ]
    },
    {
      "comment": "apexshipsupport  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "apexshipsupport",
      "value": [
        2,
        1,
        3,
        255
      ]
    },
    {
      "comment": "apexshipsupport  apexshipsupport",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "apexshipsupport",
      "backgroundMat": "apexshipsupport",
      "value": [
        2,
        2,
        3,
        255
      ]
    },
    {
      "comment": "apexshipsupport  steelplatform",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "steelplatform",
      "backgroundMat": "apexshipsupport",
      "value": [
        2,
        3,
        3,
        255
      ]
    },
    {
      "comment": "glass",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "glass",
      "value": [
        2,
        0,
        4,
        255
      ]
    },
    {
      "comment": "glass  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "glass",
      "value": [
        2,
        1,
        4,
        255
      ]
    },
    {
      "comment": "glass  glass",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "glass",
      "backgroundMat": "glass",
      "value": [
        2,
        2,
        4,
        255
      ]
    },
    {
      "comment": "glass  steelplatform",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "steelplatform",
      "backgroundMat": "glass",
      "value": [
        2,
        3,
        4,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_bottom_decoration",
      "value": [
        2,
        0,
        29,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        2,
        1,
        29,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_bottom_decoration",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_bottom_decoration",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        2,
        2,
        29,
        255
      ]
    },
    {
      "comment": "madtulip_detail",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_detail",
      "value": [
        2,
        0,
        30,
        255
      ]
    },
    {
      "comment": "madtulip_detail  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_detail",
      "value": [
        2,
        1,
        30,
        255
      ]
    },
    {
      "comment": "madtulip_detail  madtulip_detail",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_detail",
      "backgroundMat": "madtulip_detail",
      "value": [
        2,
        2,
        30,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_top_decoration",
      "value": [
        2,
        0,
        31,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        2,
        1,
        31,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_top_decoration",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_top_decoration",
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        2,
        2,
        31,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  ",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "backgroundMat": "madtulip_wallplate",
      "value": [
        2,
        0,
        32,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "value": [
        2,
        1,
        32,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_wallplate",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_wallplate",
      "backgroundMat": "madtulip_wallplate",
      "value": [
        2,
        2,
        32,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_ftl_thruster",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "objectResidual" : true,
      "object": "madtulip_glitch_ftl_thruster",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        1,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_stabilization_thruster",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "objectResidual" : true,
      "object": "madtulip_glitch_stabilization_thruster",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        2,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_gyro_stabilizer",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "objectResidual" : true,
      "object": "madtulip_glitch_gyro_stabilizer",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        3,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_medium_fin",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "objectResidual" : true,
      "object": "madtulip_glitch_medium_fin",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        7,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_small_fin right",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "objectResidual" : true,
      "object": "madtulip_glitch_small_fin",
      "objectDirection": "right",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        8,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_shiplocker",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "objectResidual" : true,
      "object": "madtulip_glitch_shiplocker",
      "objectParameters": {
        "treasurePools": [
			"madtulip_glitchStarterTreasure"
        ],
        "level": 1.0,
        "unbreakable": false
      },
      "value": [
        1,
        4,
        6,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_glitch_shipdoor",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "objectResidual" : true,
      "object": "madtulip_glitch_shipdoor",
      "value": [
        1,
        4,
        5,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_captainschair left",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_bottom_decoration",
      "objectResidual" : true,
      "object": "madtulip_glitch_captainschair",
      "objectDirection": "right",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        1,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  glitchtechstation",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "objectResidual" : true,
      "object": "madtulip_glitch_techstation",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        2,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_shipstation",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "objectResidual" : true,
      "object": "madtulip_shipstation",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        3,
        255
      ]
    },
    {
      "comment": "glass  madtulip_shipnavigationconsole right",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "glass",
      "objectResidual" : true,
      "object": "madtulip_shipnavigationconsole",
      "objectDirection": "right",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        4,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_vent",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "objectResidual" : true,
      "object": "madtulip_vent",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        5,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_fuelhatch",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_wallplate",
      "objectResidual" : true,
      "object": "madtulip_glitch_fuelhatch",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        6,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_shiplight",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_top_decoration",
      "objectResidual" : true,
      "object": "madtulip_shiplight",
      "value": [
        3,
        0,
        7,
        255
      ]
    },
    {
      "comment": "glass  madtulip_shiplight",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "glass",
      "objectResidual" : true,
      "object": "madtulip_shiplight",
      "value": [
        3,
        0,
        8,
        255
      ]
    },
    {
      "comment": "shipengine",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "objectResidual" : true,
      "object": "shipengine",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        9,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_teleporter",
      "foregroundBlock": false,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "backgroundMat": "madtulip_bottom_decoration",
      "objectResidual" : true,
      "object": "madtulip_glitch_teleporter",
      "objectParameters": {
        "unbreakable": true
      },
      "flags": [
        "playerSpawn"
      ],
      "value": [
        3,
        0,
        10,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_wallplate",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "apexshipwall",
	  "backgroundMat": "apexshipwall",
      "value": [
        0,
        150,
        100,
        255
      ]
    },
// TILESETS
   {
      "comment": "madtulip_TS_glitch_1  madtulip_TS_glitch_1",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_TS_glitch_1",
      "backgroundMat": "madtulip_TS_glitch_1",
      "value": [
        0,
        1,
        100,
        255
      ]
    },
    {
      "comment": "madtulip_TS_glitch_1  madtulip_TS_glitch_1",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_TS_glitch_1",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        0,
        30,
        100,
        255
      ]
    },	
    {
      "comment": "madtulip_TS_glitch_1  madtulip_TS_glitch_1",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_TS_glitch_1",
      "value": [
        0,
        15,
        100,
        255
      ]
    },	
    {
      "comment": "madtulip_TS_glass  madtulip_TS_glass",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_TS_glass",
      "backgroundMat": "madtulip_TS_glass",
      "value": [
        0,
        2,
        100,
        255
      ]
    },
    {
      "comment": "madtulip_TS_glass  madtulip_TS_glass",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": true,
	  "backgroundResidual" : true,
      "foregroundMat": "madtulip_TS_glass",
      "backgroundMat": "glass",
      "value": [
        0,
        50,
        100,
        255
      ]
    },
    {
      "comment": "madtulip_TS_glass  madtulip_TS_glass",
      "foregroundBlock": true,
	  "foregroundResidual" : true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_TS_glass",
      "value": [
        0,
        100,
        100,
        255
      ]
    }
  ]
}
