{
	"__merge" : [],
	"defaultItems" : [
		// Tech
			{"item" : "madtulip_gravityTech-chip","count" : 100},
		// Ship parts
			{"item" : "madtulip_avian_heat_absorber","count" : 100},
			{"item" : "madtulip_avian_gyro_stabilizer","count" : 100},
			{"item" : "madtulip_apex_gyro_stabilizer","count" : 100},
			{"item" : "madtulip_apex_flux_compensator","count" : 100},
			{"item" : "madtulip_apex_large_fin","count" : 100},
			{"item" : "madtulip_apex_medium_fin","count" : 100},
			{"item" : "madtulip_apex_small_fin","count" : 100},
			{"item" : "madtulip_apex_turret","count" : 100},
			{"item" : "madtulip_avian_crystal_energy_core","count" : 100},
			{"item" : "madtulip_avian_flux_compensator","count" : 100},
			{"item" : "madtulip_avian_large_fin","count" : 100},
			{"item" : "madtulip_avian_crystal_energy_core","count" : 100},
			{"item" : "madtulip_avian_stabilization_thruster","count" : 100},
			{"item" : "madtulip_apex_stabilization_thruster","count" : 100},
		// Armor
			{"item" : "madtulip_spacesuit_back","count" : 100},
			{"item" : "madtulip_spacesuit_chest","count" : 100},
			{"item" : "madtulip_spacesuit_head","count" : 100},
			{"item" : "madtulip_spacesuit_legs","count" : 100}
	]
}