{
	"__merge" : [],
	"defaultItems" : [
	],
	"defaultBlueprints" : {
		"__merge" : [],
		"tier1" : [
		// Items
			{"item" : "madtulip_polymer"},
			{"item" : "madtulip_ic_logic"},
			{"item" : "madtulip_silicium"},		
		
		// Objects
			{"item" : "madtulip_tier1_pod"},
			{"item" : "madtulip_shiplight"},
			
		// Tech
			{"item" : "madtulip_gravity-chip"}
		],
		"tier2" : [
		// Items
			{"item" : "madtulip_tier_steel_plating_1"},
			{"item" : "madtulip_tier_steel_plating_2"},
			
			{"item" : "madtulip_apex_plating"},
			{"item" : "madtulip_avian_plating"},
			{"item" : "madtulip_floran_plating"},
			{"item" : "madtulip_glitch_plating"},
			{"item" : "madtulip_human_plating"},
			{"item" : "madtulip_hylotl_plating"},
			
		// Crew
			{"item" : "madtulip_crewconsole"},
			{"item" : "madtulip_crew_spawner"},
			{"item" : "madtulip_crew_info"},
			{"item" : "madtulip_engineere_promotion"},
			{"item" : "madtulip_marine_promotion"},
			{"item" : "madtulip_medic_promotion"},
			{"item" : "madtulip_scientist_promotion"},
			{"item" : "madtulip_deckhand_demotion"},

		// Resting Items
			{"item" : "madtulip_crew_wall_mounted_bed"},
			{"item" : "madtulip_shower"},
			{"item" : "madtulip_marine_armor_stand"},
			{"item" : "madtulip_marine_spacesuit_stand"},
			{"item" : "madtulip_medical_bed"},
			{"item" : "madtulip_medical_sign"},
			{"item" : "madtulip_medical_staff_locker"},
			{"item" : "madtulip_medical_surgery_bed"},

		// Materials
			{"item" : "apexshipdetails"},
			{"item" : "apexshipsupport"},
			{"item" : "apexshipwall"},
			{"item" : "modernplatform"},
			{"item" : "pressurizedsteel"},
			{"item" : "smoothmetal"},
			
			{"item" : "madtulip_bottom_decoration"},
			{"item" : "madtulip_detail"},
			{"item" : "madtulip_top_decoration"},
			{"item" : "madtulip_wallplate"},
			
		// Objects
			{"item" : "madtulip_metal_press"},
		
			{"item" : "madtulip_tier2_pod"},			

			{"item" : "madtulip_rifle_rack"},
			{"item" : "madtulip_pistol_rack"},
			
			{"item" : "madtulip_apex_small_fin"},
			{"item" : "madtulip_avian_small_fin"},
			{"item" : "madtulip_floran_small_fin"},
			{"item" : "madtulip_glitch_small_fin"},
			{"item" : "madtulip_hylotl_small_fin"},
			{"item" : "madtulip_human_small_fin"},
			
			{"item" : "madtulip_apex_flux_compensator"},
			{"item" : "madtulip_avian_flux_compensator"},
			{"item" : "madtulip_glitch_flux_compensator"},
			{"item" : "madtulip_floran_flux_compensator"},
			{"item" : "madtulip_human_flux_compensator"},
			{"item" : "madtulip_hylotl_flux_compensator"},

			{"item" : "madtulip_apex_shipdoor"},
			{"item" : "madtulip_avian_shipdoor"},
			{"item" : "madtulip_floran_shipdoor"},
			{"item" : "madtulip_glitch_shipdoor"},
			{"item" : "madtulip_human_shipdoor"},
			{"item" : "madtulip_hylotl_shipdoor"},
			
			{"item" : "madtulip_human_engine_core"}
		],
		"tier3" : [
		// Items
			{"item" : "madtulip_tier_steel_plating_3"},
			
		// Objects
			{"item" : "madtulip_tier3_pod"},
			
			{"item" : "madtulip_fuelhatch"},
			{"item" : "madtulip_shipnavigationconsole"},
			{"item" : "madtulip_techstation"},
			{"item" : "madtulip_shipstation"},
			
			{"item" : "madtulip_vent"},
			
			{"item" : "madtulip_apex_sector_airlock"},
			{"item" : "madtulip_avian_sector_airlock"},
			{"item" : "madtulip_floran_sector_airlock"},
			{"item" : "madtulip_glitch_sector_airlock"},
			{"item" : "madtulip_hylotl_sector_airlock"},
			
			{"item" : "madtulip_apex_medium_fin"},
			{"item" : "madtulip_avian_medium_fin"},
			{"item" : "madtulip_floran_medium_fin"},
			{"item" : "madtulip_glitch_medium_fin"},
			{"item" : "madtulip_hylotl_medium_fin"},
			{"item" : "madtulip_human_medium_fin"},
			
			{"item" : "madtulip_apex_heat_absorber"},
			{"item" : "madtulip_avian_heat_absorber"},
			{"item" : "madtulip_floran_heat_absorber"},
			{"item" : "madtulip_glitch_heat_absorber"},
			{"item" : "madtulip_hylotl_heat_absorber"},
			{"item" : "madtulip_human_heat_absorber"},

			{"item" : "madtulip_apex_ship_comms"},
			{"item" : "madtulip_avian_ship_comms"},
			{"item" : "madtulip_floran_ship_comms"},
			{"item" : "madtulip_glitch_ship_comms"},
			{"item" : "madtulip_human_ship_comms"},
			{"item" : "madtulip_hylotl_ship_comms"},
			
			{"item" : "madtulip_glitch_tower"},
			
			{"item" : "madtulip_human_turret"},
			{"item" : "madtulip_human_turret2"},
			{"item" : "madtulip_apex_turret"},			
			{"item" : "madtulip_glitch_turret"},
			{"item" : "madtulip_floran_blossoming_cannon"},
			{"item" : "madtulip_hyltol_water_cannon"},
			
			{"item" : "madtulip_textscreen"},
			{"item" : "madtulip_barscreen"},
			{"item" : "madtulip_mapscreen"},
			{"item" : "madtulip_status_monitor"},

			{"item" : "madtulip_landing_gear_3"}
		],
		"tier4" : [
		// Items
			{"item" : "madtulip_tier_durasteel_plating_1"},
			{"item" : "madtulip_tier_durasteel_plating_2"},
			
		// Materials
			{"item" : "madtulip_apex_tileset"},
			{"item" : "madtulip_avian_tileset"},
			{"item" : "madtulip_floran_tileset"},
			{"item" : "madtulip_glitch_tileset"},
			{"item" : "madtulip_human_tileset"},
			{"item" : "madtulip_hylotl_tileset"},
			{"item" : "madtulip_glass_tileset"},
		
		// Objects
			{"item" : "madtulip_tier4_pod"},
			
			{"item" : "madtulip_tile_setter"},
			
			{"item" : "madtulip_captainschair"},
			{"item" : "madtulip_shiplocker"},
			{"item" : "madtulip_teleporter"},
			{"item" : "madtulip_floran_teleporter"},
			
			{"item" : "madtulip_starprojector"},
			{"item" : "madtulip_analysisscreen"},
			{"item" : "madtulip_captains_console"},
			{"item" : "madtulip_thermodynamics_console"},
			
			{"item" : "madtulip_forcefield_door"},
			
			{"item" : "madtulip_apex_large_fin"},
			{"item" : "madtulip_avian_large_fin"},
			{"item" : "madtulip_floran_large_fin"},
			{"item" : "madtulip_glitch_large_fin"},
			{"item" : "madtulip_human_large_fin"},
			{"item" : "madtulip_hylotl_large_fin"},

			{"item" : "madtulip_apex_stabilization_thruster"},
			{"item" : "madtulip_avian_stabilization_thruster"},			
			{"item" : "madtulip_floran_stabilization_thruster"},
			{"item" : "madtulip_glitch_stabilization_thruster"},
			{"item" : "madtulip_human_stabilization_thruster"},
			{"item" : "madtulip_hylotl_stabilization_thruster"},

			{"item" : "madtulip_apex_gyro_stabilizer"},
			{"item" : "madtulip_avian_gyro_stabilizer"},			
			{"item" : "madtulip_glitch_gyro_stabilizer"},
			{"item" : "madtulip_hylotl_gyro_stabilizer"},
			{"item" : "madtulip_human_gyro_stabilizer"},
			{"item" : "madtulip_floran_gyro_stabilizer"},
			
			{"item" : "madtulip_landing_gear_1"},
			{"item" : "madtulip_landing_gear_2"},
			{"item" : "madtulip_landing_gear_4"},

			{"item" : "madtulip_glitch_tower2"},
			{"item" : "madtulip_avian_crystal_energy_core"},
			
			{"item" : "madtulip_human_turret_missile"},
			{"item" : "madtulip_cool_pulse_cannon"},
			{"item" : "madtulip_glitchy_lazor"}
		],
		"level32" : [
		// Items
			{"item" : "madtulip_tier_durasteel_plating_3"},
			
		// Materials
			{"item" : "madtulip_apex2_tileset"},
			{"item" : "madtulip_avian2_tileset"},
			{"item" : "madtulip_floran2_tileset"},
			{"item" : "madtulip_glitch2_tileset"},
			{"item" : "madtulip_human2_tileset"},
			{"item" : "madtulip_hylotl2_tileset"},
			
			{"item" : "madtulip_human3_tileset"},
			
		// Objects
			{"item" : "miab_basestore_scanner"},
			{"item" : "miab_basestore_receiver"},
			
			{"item" : "madtulip_apex_ftl_thruster"},
			{"item" : "madtulip_avian_ftl_thruster"},			
			{"item" : "madtulip_floran_ftl_thruster"},
			{"item" : "madtulip_glitch_ftl_thruster"},
			{"item" : "madtulip_human_ftl_thruster"},
			{"item" : "madtulip_hylotl_ftl_thruster"},
			
		// Tech
			{"item" : "madtulip_apex_scoutship-chip"},
			{"item" : "madtulip_human_scoutship-chip"},
			{"item" : "madtulip_hylotl_scoutship-chip"},
			{"item" : "madtulip_floran_scoutship-chip"},
			{"item" : "madtulip_avian_scoutship-chip"},
			{"item" : "madtulip_glitch_scoutship-chip"},
			
			{"item" : "madtulip_mining_pod-chip"}
		]
	}
}