{
	"__merge" : [],
	"defaultItems" : [
		{"item" : "diamonddrill"},

		// new items since last release
			// START Check for recipe START
			// END Check for recipe END

			// START recipes for these new items have been checked alredy START
		// END recipes for these new items have been checked alredy END
		
		{"item" : "madtulip_metal_press"},
		
		{"item" : "madtulip_floran_large_fin"},
/*		
		{"item" : "madtulip_apex_collumn"},
		{"item" : "madtulip_apex_decoration"},
		{"item" : "madtulip_apex_detail"},
		{"item" : "madtulip_apex_wallplate"},
		{"item" : "madtulip_avian_collumn"},
		{"item" : "madtulip_avian_decoration"},
		{"item" : "madtulip_avian_detail"},
		{"item" : "madtulip_avian_wallplate"},
		{"item" : "madtulip_floran_collumn"},
		{"item" : "madtulip_floran_decoration"},
		{"item" : "madtulip_floran_detail"},
		{"item" : "madtulip_floran_wallplate"},
		{"item" : "madtulip_glitch_collumn"},
		{"item" : "madtulip_glitch_decoration"},
		{"item" : "madtulip_glitch_detail"},
		{"item" : "madtulip_glitch_wallplate"},
		{"item" : "madtulip_human_collumn"},
		{"item" : "madtulip_human_decoration"},
		{"item" : "madtulip_human_detail"},
		{"item" : "madtulip_human_wallplate"},
		{"item" : "madtulip_hylotl_collumn"},
		{"item" : "madtulip_hylotl_decoration"},
		{"item" : "madtulip_hylotl_detail"},
		{"item" : "madtulip_hylotl_wallplate"},
		
		{"item" : "madtulip_apex_defense_turret"},
		{"item" : "madtulip_floran_defense_turret"},
		{"item" : "madtulip_glitch_defense_turret"},
		//{"item" : "madtulip_human_defense_turret"},
		//{"item" : "madtulip_hylotl_defense_turret"},
		//{"item" : "madtulip_avian_defense_turret"},
		//{"item" : "madtulip_floran_defense_turret"},
		//{"item" : "madtulip_apex_defense_turret"},
		//{"item" : "madtulip_glitch_defense_turret"},

		{"item" : "madtulip_apex_plating"},
		{"item" : "madtulip_avian_plating"},
		{"item" : "madtulip_floran_plating"},
		{"item" : "madtulip_glitch_plating"},
		{"item" : "madtulip_human_plating"},
		{"item" : "madtulip_hylotl_plating"},		

		{"item" : "madtulip_tier_steel_plating_2"},
		{"item" : "madtulip_tier_steel_plating_3"},
		{"item" : "madtulip_tier_durasteel_plating_1"},
		{"item" : "madtulip_tier_durasteel_plating_2"},
		{"item" : "madtulip_tier_durasteel_plating_3"},
		{"item" : "madtulip_tier_ferozium_plating_1"},
		{"item" : "madtulip_tier_ferozium_plating_2"},
		{"item" : "madtulip_tier_ferozium_plating_3"},
		{"item" : "madtulip_tier_violium_plating_1"},
		{"item" : "madtulip_tier_violium_plating_2"},
		{"item" : "madtulip_tier_violium_plating_3"},
		{"item" : "madtulip_tier_impervium_plating_1"},
		{"item" : "madtulip_tier_impervium_plating_2"},
		{"item" : "madtulip_tier_impervium_plating_3"},
		
		{"item" : "madtulip_forcefield_door"},
		{"item" : "madtulip_avian_shipdoor"},
		{"item" : "madtulip_glitch_shipdoor"},
		{"item" : "madtulip_floran_shipdoor"},
		{"item" : "madtulip_hylotl_shipdoor"},
		
		// Wire stuff
		{"item" : "wiretool"},
		{"item" : "wire","count" : 500},
		{"item" : "smallwallbutton","count" : 100},
		{"item" : "dlatch","count" : 100},
		{"item" : "madtulip_status_monitor","count" : 100},

		// Tilesets
		{"item" : "madtulip_tile_setter"},
		{"item" : "madtulip_apex_tileset","count" : 500},
		{"item" : "madtulip_avian_tileset","count" : 500},
		{"item" : "madtulip_floran_tileset","count" : 500},
		{"item" : "madtulip_human_tileset","count" : 500},
		{"item" : "madtulip_glitch_tileset","count" : 500},
		{"item" : "madtulip_hylotl_tileset","count" : 500},
		{"item" : "madtulip_glass_tileset","count" : 500},

		//Modules
		{"item" : "miab_basestore_scanner"},
		{"item" : "miab_basestore_receiver"},
		{"item" : "madtulip_tier1_pod"},
		{"item" : "madtulip_tier2_pod"},
		{"item" : "madtulip_tier3_pod"},
		{"item" : "madtulip_tier4_pod"},
	
		// blocks
		{"item" : "smoothmetal","count" : 100},
		{"item" : "modernplatform","count" : 100},
		{"item" : "pressurizedsteel","count" : 100},
		{"item" : "smoothmetal","count" : 100},

		// crafting tables
		{"item" : "woodencookingtable"},
		{"item" : "metalworkstation"},
		{"item" : "woodencraftingtable1"},
		{"item" : "yarnspinner"},
		{"item" : "roboticcraftingtable"},
		{"item" : "refinery"},
		{"item" : "pixelcompressor"},
		{"item" : "wiringstation"},
		{"item" : "capturestation"},
*/
		// tier advancers
		{"item" : "tier2engine","count" : 100},
		{"item" : "tier3engine","count" : 100},
		{"item" : "tier4engine","count" : 100},
		{"item" : "techupgrade32","count" : 100},
		{"item" : "techupgrade33","count" : 100},
/*
		// Other Parts
		{"item" : "tier1chair","count" : 100},
		{"item" : "madtulip_shiplight","count" : 100},
		{"item" : "madtulip_shipnavigationconsole","count" : 100},
		{"item" : "madtulip_shipdoor","count" : 100},

		{"item" : "standingturret","count" : 100},

		// Ship parts
		{"item" : "madtulip_human_ship_comms","count" : 100},
		{"item" : "madtulip_human_flux_compensator","count" : 100},
		{"item" : "madtulip_human_ftl_thruster","count" : 100},
		{"item" : "madtulip_human_gyro_stabilizer","count" : 100},
		{"item" : "madtulip_human_large_fin","count" : 100},
		{"item" : "madtulip_human_medium_fin","count" : 100},
		{"item" : "madtulip_human_small_fin","count" : 100},
		{"item" : "madtulip_human_stabilization_thruster","count" : 100},
		{"item" : "madtulip_human_turret","count" : 100},
		{"item" : "madtulip_human_turret2","count" : 100},
		{"item" : "madtulip_human_turret_missile","count" : 100},

		{"item" : "madtulip_apex_flux_compensator","count" : 100},
		{"item" : "madtulip_apex_ftl_thruster","count" : 100},
		{"item" : "madtulip_apex_gyro_stabilizer","count" : 100},
		{"item" : "madtulip_apex_large_fin","count" : 100},
		{"item" : "madtulip_apex_medium_fin","count" : 100},
		{"item" : "madtulip_apex_small_fin","count" : 100},
		{"item" : "madtulip_apex_stabilization_thruster","count" : 100},
		{"item" : "madtulip_apex_turret","count" : 100},

		{"item" : "madtulip_avian_ship_comms","count" : 100},
		{"item" : "madtulip_avian_crystal_energy_core","count" : 100},
		{"item" : "madtulip_avian_ftl_thruster","count" : 100},
		{"item" : "madtulip_avian_flux_compensator","count" : 100},
		{"item" : "madtulip_avian_gyro_stabilizer","count" : 100},
		{"item" : "madtulip_avian_heat_absorber","count" : 100},
		{"item" : "madtulip_avian_large_fin","count" : 100},
		{"item" : "madtulip_avian_medium_fin","count" : 100},
		{"item" : "madtulip_avian_small_fin","count" : 100},
		{"item" : "madtulip_avian_stabilization_thruster","count" : 100},

		{"item" : "madtulip_human_engine_core","count" : 100},

		{"item" : "madtulip_landing_gear_1","count" : 100},
		{"item" : "madtulip_landing_gear_2","count" : 100},
		{"item" : "madtulip_landing_gear_3","count" : 100},	
		{"item" : "madtulip_landing_gear_4","count" : 100},

		{"item" : "madtulip_glitch_ship_comms","count" : 100},
		{"item" : "madtulip_glitch_flux_compensator","count" : 100},
		{"item" : "madtulip_glitch_ftl_thruster","count" : 100},
		{"item" : "madtulip_glitch_gyro_stabilizer","count" : 100},
		{"item" : "madtulip_glitch_heat_absorber","count" : 100},
		{"item" : "madtulip_glitch_small_fin","count" : 100},
		{"item" : "madtulip_glitch_medium_fin","count" : 100},
		{"item" : "madtulip_glitch_stabilization_thruster","count" : 100},
		{"item" : "madtulip_glitch_tower","count" : 100},
		{"item" : "madtulip_glitch_tower2","count" : 100},
		{"item" : "madtulip_glitch_turret","count" : 100},
		
		{"item" : "madtulip_hylotl_flux_compensator","count" : 100},
		{"item" : "madtulip_hylotl_gyro_stabilizer","count" : 100},
		{"item" : "madtulip_hylotl_large_fin","count" : 100},
		{"item" : "madtulip_hylotl_medium_fin","count" : 100},
		{"item" : "madtulip_hylotl_small_fin","count" : 100},
		{"item" : "madtulip_hylotl_stabilization_thruster","count" : 100},
		
		{"item" : "madtulip_floran_ftl_thruster","count" : 100},
		{"item" : "madtulip_floran_stabilization_thruster","count" : 100},

		//Spacesuit
		{"item" : "madtulip_spacesuit_back"},
		{"item" : "madtulip_spacesuit_chest"},
		{"item" : "madtulip_spacesuit_head"},
		{"item" : "madtulip_spacesuit_legs"},
*/
		{"item" : "spaceairtankback"}
	],
	"defaultBlueprints" : {
		"__merge" : [],
		"tier1" : [
		// Items
			{"item" : "madtulip_polymer"},
			{"item" : "madtulip_ic_logic"},
			{"item" : "madtulip_silicium"},		
		
		// Objects
			{"item" : "madtulip_tier1_pod"},
		
			{"item" : "madtulip_shiplight"},
			
		// Tech
			{"item" : "madtulip_gravity-chip"}
		],
		"tier2" : [
		// Items
			{"item" : "madtulip_tier_steel_plating_1"},
			{"item" : "madtulip_tier_steel_plating_2"},
			
			{"item" : "madtulip_apex_plating"},
			{"item" : "madtulip_avian_plating"},
			{"item" : "madtulip_floran_plating"},
			{"item" : "madtulip_glitch_plating"},
			{"item" : "madtulip_human_plating"},
			{"item" : "madtulip_hylotl_plating"},

		// Materials
			{"item" : "apexshipdetails"},
			{"item" : "apexshipsupport"},
			{"item" : "apexshipwall"},
			{"item" : "modernplatform"},
			{"item" : "pressurizedsteel"},
			{"item" : "smoothmetal"},
			
			{"item" : "madtulip_apex_collumn"},
			{"item" : "madtulip_apex_decoration"},
			{"item" : "madtulip_apex_detail"},
			{"item" : "madtulip_apex_wallplate"},
			{"item" : "madtulip_avian_collumn"},
			{"item" : "madtulip_avian_decoration"},
			{"item" : "madtulip_avian_detail"},
			{"item" : "madtulip_avian_wallplate"},
			{"item" : "madtulip_floran_collumn"},
			{"item" : "madtulip_floran_decoration"},
			{"item" : "madtulip_floran_detail"},
			{"item" : "madtulip_floran_wallplate"},
			{"item" : "madtulip_glitch_collumn"},
			{"item" : "madtulip_glitch_decoration"},
			{"item" : "madtulip_glitch_detail"},
			{"item" : "madtulip_glitch_wallplate"},
			{"item" : "madtulip_human_collumn"},
			{"item" : "madtulip_human_decoration"},
			{"item" : "madtulip_human_detail"},
			{"item" : "madtulip_human_wallplate"},
			{"item" : "madtulip_hylotl_collumn"},
			{"item" : "madtulip_hylotl_decoration"},
			{"item" : "madtulip_hylotl_detail"},
			{"item" : "madtulip_hylotl_wallplate"},
			
		// Objects
			{"item" : "madtulip_metal_press"},
		
			{"item" : "madtulip_tier2_pod"},			

			{"item" : "madtulip_apex_small_fin"},
			{"item" : "madtulip_avian_small_fin"},
			{"item" : "madtulip_glitch_small_fin"},
			{"item" : "madtulip_hylotl_small_fin"},
			{"item" : "madtulip_human_small_fin"},
			
			{"item" : "madtulip_apex_flux_compensator"},
			{"item" : "madtulip_avian_flux_compensator"},
			{"item" : "madtulip_glitch_flux_compensator"},
			{"item" : "madtulip_floran_flux_compensator"},
			{"item" : "madtulip_human_flux_compensator"},
			{"item" : "madtulip_hylotl_flux_compensator"},

			{"item" : "madtulip_shipdoor"},
			{"item" : "madtulip_avian_shipdoor"},
			{"item" : "madtulip_glitch_shipdoor"},
			{"item" : "madtulip_floran_shipdoor"},
			{"item" : "madtulip_hylotl_shipdoor"},
			
			{"item" : "madtulip_human_engine_core"}
		],
		"tier3" : [
		// Items
			{"item" : "madtulip_tier_steel_plating_3"},
			
		// Objects
			{"item" : "madtulip_tier3_pod"},
			
			{"item" : "madtulip_fuelhatch"},
			{"item" : "madtulip_shipnavigationconsole"},
			{"item" : "madtulip_techstation"},
			{"item" : "madtulip_shipstation"},
			
			{"item" : "madtulip_vent"},
			
			{"item" : "madtulip_apex_medium_fin"},
			{"item" : "madtulip_avian_medium_fin"},
			{"item" : "madtulip_glitch_medium_fin"},
			{"item" : "madtulip_hylotl_medium_fin"},
			{"item" : "madtulip_human_medium_fin"},
			
			{"item" : "madtulip_avian_heat_absorber"},
			{"item" : "madtulip_glitch_heat_absorber"},
			{"item" : "madtulip_hylotl_heat_absorber"},
			{"item" : "madtulip_floran_heat_absorber"},

			{"item" : "madtulip_avian_ship_comms"},
			{"item" : "madtulip_glitch_ship_comms"},
			{"item" : "madtulip_human_ship_comms"},
			
			{"item" : "madtulip_glitch_tower"},
			
			{"item" : "madtulip_human_turret"},
			{"item" : "madtulip_human_turret2"},
			{"item" : "madtulip_apex_turret"},			
			{"item" : "madtulip_glitch_turret"},
			{"item" : "madtulip_floran_blossoming_cannon"},
			{"item" : "madtulip_hyltol_water_cannon"},
			
			{"item" : "madtulip_textscreen"},
			{"item" : "madtulip_barscreen"},
			{"item" : "madtulip_mapscreen"},
			{"item" : "madtulip_status_monitor"},

			{"item" : "madtulip_landing_gear_3"}
		],
		"tier4" : [
		// Items
			{"item" : "madtulip_tier_durasteel_plating_1"},
			{"item" : "madtulip_tier_durasteel_plating_2"},
			
		// Materials
			{"item" : "madtulip_apex_tileset"},
			{"item" : "madtulip_avian_tileset"},
			{"item" : "madtulip_floran_tileset"},
			{"item" : "madtulip_glitch_tileset"},
			{"item" : "madtulip_human_tileset"},
			{"item" : "madtulip_hylotl_tileset"},
			{"item" : "madtulip_glass_tileset"},
		
		// Objects
			{"item" : "madtulip_tier4_pod"},
			
			{"item" : "madtulip_tile_setter"},
			
			{"item" : "madtulip_captainschair"},
			{"item" : "madtulip_shiplocker"},
			{"item" : "madtulip_teleporter"},
			{"item" : "madtulip_floran_teleporter"},
			
			{"item" : "madtulip_starprojector"},
			{"item" : "madtulip_analysisscreen"},
			{"item" : "madtulip_captains_console"},
			{"item" : "madtulip_thermodynamics_console"},
			
			{"item" : "madtulip_forcefield_door"},
			
			{"item" : "madtulip_apex_large_fin"},
			{"item" : "madtulip_avian_large_fin"},
			{"item" : "madtulip_floran_large_fin"},
			{"item" : "madtulip_human_large_fin"},
			{"item" : "madtulip_hylotl_large_fin"},

			{"item" : "madtulip_apex_stabilization_thruster"},
			{"item" : "madtulip_avian_stabilization_thruster"},			
			{"item" : "madtulip_floran_stabilization_thruster"},
			{"item" : "madtulip_glitch_stabilization_thruster"},
			{"item" : "madtulip_human_stabilization_thruster"},
			{"item" : "madtulip_hylotl_stabilization_thruster"},

			{"item" : "madtulip_apex_gyro_stabilizer"},
			{"item" : "madtulip_avian_gyro_stabilizer"},			
			{"item" : "madtulip_glitch_gyro_stabilizer"},
			{"item" : "madtulip_hylotl_gyro_stabilizer"},
			{"item" : "madtulip_human_gyro_stabilizer"},
			{"item" : "madtulip_floran_gyro_stabilizer"},
			
			{"item" : "madtulip_landing_gear_1"},
			{"item" : "madtulip_landing_gear_2"},
			{"item" : "madtulip_landing_gear_4"},

			{"item" : "madtulip_glitch_tower2"},
			{"item" : "madtulip_avian_crystal_energy_core"},
			
			{"item" : "madtulip_human_turret_missile"},
			{"item" : "madtulip_cool_pulse_cannon"},
			{"item" : "madtulip_glitchy_lazor"}
		],
		"level32" : [
		// Items
			{"item" : "madtulip_tier_durasteel_plating_3"},
			
		// Objects
			{"item" : "miab_basestore_scanner"},
			{"item" : "miab_basestore_receiver"},
			
			{"item" : "madtulip_apex_ftl_thruster"},
			{"item" : "madtulip_avian_ftl_thruster"},			
			{"item" : "madtulip_floran_ftl_thruster"},
			{"item" : "madtulip_glitch_ftl_thruster"},
			{"item" : "madtulip_human_ftl_thruster"},
			{"item" : "madtulip_hylotl_ftl_thruster"},
			
		// Tech
			{"item" : "madtulip_apex_scoutship-chip"},
			{"item" : "madtulip_human_scoutship-chip"},
			{"item" : "madtulip_hylotl_scoutship-chip"},
			{"item" : "madtulip_floran_scoutship-chip"},
			{"item" : "madtulip_avian_scoutship-chip"},
			{"item" : "madtulip_glitch_scoutship-chip"}	
		]
	}
}