{
	"__merge" : [],
	"speciesShips" : {
		"__merge" : [
		[ "overwrite", "apex" ],
		[ "overwrite", "avian" ],
		[ "overwrite", "floran" ],
		[ "overwrite", "human" ],
		[ "overwrite", "hylotl" ],
		[ "overwrite", "glitch" ]
    ],
	// ----- vanilla races -----
	"apex" : "/ships/apex/madtulip_dropship.structure",
    "avian" : "/ships/avian/madtulip_dropship.structure",
    "floran" : "/ships/floran/madtulip_dropship.structure",
    "human" : "/ships/human/madtulip_dropship.structure",
    "hylotl" : "/ships/hylotl/madtulip_dropship.structure",
    "glitch" : "/ships/glitch/madtulip_dropship.structure",
	
	// ----- modded races: -----
	// races that are not part of this mod are included here if installed.
	// other mod races not included here should be done in a similar way.:
	"argonian" : "/ships/human/madtulip_dropship.structure",
	"elf"      : "/ships/human/madtulip_dropship.structure",
	"grey"     : "/ships/human/madtulip_dropship.structure",
	"kaenid"   : "/ships/human/madtulip_dropship.structure",
	"kangaru"  : "/ships/human/madtulip_dropship.structure",
	"mephetor" : "/ships/human/madtulip_dropship.structure",
	"novakid+" : "/ships/human/madtulip_dropship.structure"
  }
}