{
    "__merge": [],
	"defaultItems" : [
		{"item": "DoomArmorHead"},
		{"item": "DoomArmorChest"},
		{"item": "DoomArmorPants"}
	],
    "defaultBlueprints": {
        "__merge": [],
        "tier1": [
            {
                "item": "DoomArmorHead"
            },
            {
                "item": "DoomArmorChest"
            },
            {
                "item": "DoomArmorPants"
            }
        ]
    }
}