{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/ship station/interface/crafting/okeaheader.png",
      "fileBody" : "/objects/ship station/interface/crafting/okeabody.png",
      "fileFooter" : "/objects/ship station/interface/crafting/okeafooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/objects/ship station/interface/inventory/x.png",
      "hover" : "/objects/ship station/interface/inventory/xhover.png",
      "press" : "/objects/ship station/interface/inventory/xpress.png",
      "position" : [466, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "SHIP STATION",
      "subtitle" : "Craft Ship parts here",
      "position" : [20, 252]
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [232, 243],
      "hAnchor" : "mid",
      "value" : "Ship Part"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [404, 243],
      "hAnchor" : "mid",
      "value" : "Part Description"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [346, 40],
      "upOffset" : 34
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [358, 40],
      "textAlign" : "center",
      "maxWidth" : 15,
      "regex" : "x?\\d{0,3}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/objects/ship station/interface/crafting/okeaamount.png",
      "position" : [352, 39],
      "zlevel" : -3
    },
    "lbllvlSort" : {
      "type" : "image",
      "file" : "/objects/ship station/interface/crafting/cost.png",
      "position" : [267, 232],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/objects/ship station/interface/crafting/okeabutton.png",
      "hover" : "/objects/ship station/interface/crafting/okeabuttonhover.png",
      "position" : [418, 38],
      "caption" : "Create"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/objects/ship station/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/objects/ship station/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [170, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [214, 58],
      "hAnchor" : "left",
      "value" : "Can Create"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [149, 69, 318, 230],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/objects/ship station/interface/crafting/okeacraftableselected.png",
            "unselectedBG" : "/objects/ship station/interface/crafting/okeacraftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/objects/ship station/interface/crafting/okeacraftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
              "level" : {
                "type" : "label",
                "position" : [138, 9],
                "hAnchor" : "mid",
                "value" : "Lvl. 100"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [121, 1],
                "file" : "/objects/ship station/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [132, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/objects/ship station/interface/crafting/okeanotcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [334, 50],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [202, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : true
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
	   {
          "position" : [8, 199],
          "baseImage" : "/objects/ship station/interface/crafting/okeaapexoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeaapexon.png",
          "data" : {
            "filter" : [ "apex" ]
          }
        },
        {
          "position" : [80, 199],
          "baseImage" : "/objects/ship station/interface/crafting/okeaarmchairsoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeaarmchairson.png",
          "data" : {
            "filter" : [ "misc" ]
          }
        },
        {
          "position" : [110, 199],
          "baseImage" : "/objects/ship station/interface/crafting/okeasofasoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeasofason.png",
          "data" : {
            "filter" : [ "craftingmaterials" ]
          }
        },
	   {
          "position" : [8, 169],
          "baseImage" : "/objects/ship station/interface/crafting/okeaavianoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeaavianon.png",
          "data" : {
            "filter" : [ "avian" ]
          }
        },
        {
          "position" : [80, 169],
          "baseImage" : "/objects/ship station/interface/crafting/okeatablesoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeatableson.png",
          "data" : {
            "filter" : [ "FTL" ]
          }
        },
        {
          "position" : [110, 169],
          "baseImage" : "/objects/ship station/interface/crafting/okealampsoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okealampson.png",
          "data" : {
            "filter" : [ "stabilizer" ]
          }
        },
	   {
          "position" : [8, 139],
          "baseImage" : "/objects/ship station/interface/crafting/okeafloranoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeafloranon.png",
          "data" : {
            "filter" : [ "floran" ]
          }
        },
        {
          "position" : [80, 139],
          "baseImage" : "/objects/ship station/interface/crafting/okeacupboardsoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeacupboardson.png",
          "data" : {
            "filter" : [ "hatches" ]
          }
        },
        {
          "position" : [110, 139],
          "baseImage" : "/objects/ship station/interface/crafting/okeabathroomoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeabathroomon.png",
          "data" : {
            "filter" : [ "chairs" ]
          }
        },
	   {
          "position" : [8, 109],
          "baseImage" : "/objects/ship station/interface/crafting/okeaglitchoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeaglitchon.png",
          "data" : {
            "filter" : [ "glitch" ]
          }
        },
        {
          "position" : [80, 109],
          "baseImage" : "/objects/ship station/interface/crafting/okeamachinesoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeamachineson.png",
          "data" : {
            "filter" : [ "doors" ]
          }
        },
        {
          "position" : [110, 109],
          "baseImage" : "/objects/ship station/interface/crafting/okeakitchenoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeakitchenon.png",
          "data" : {
            "filter" : [ "teleporters" ]
          }
        },
	   {
          "position" : [8, 79],
          "baseImage" : "/objects/ship station/interface/crafting/okeahumanoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeahumanon.png",
          "data" : {
            "filter" : [ "human" ]
          }
        },
        {
          "position" : [80, 79],
          "baseImage" : "/objects/ship station/interface/crafting/okeadecorationsoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeadecorationson.png",
          "data" : {
            "filter" : [ "rawmaterials" ]
          }
        },
        {
          "position" : [110, 79],
          "baseImage" : "/objects/ship station/interface/crafting/okeastorageoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeastorageon.png",
          "data" : {
            "filter" : [ "fins" ]
          }
        },
	   {
          "position" : [8, 49],
          "baseImage" : "/objects/ship station/interface/crafting/okeahylotloff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeahylotlon.png",
          "data" : {
            "filter" : [ "hylotl" ]
          }
        },
        {
          "position" : [80, 49],
          "baseImage" : "/objects/ship station/interface/crafting/okeawallpapersoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeawallpaperson.png",
          "data" : {
            "filter" : [ "tilesets" ]
          }
        },
        {
          "position" : [110, 49],
          "baseImage" : "/objects/ship station/interface/crafting/okeagardenoff.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/okeagardenon.png",
          "data" : {
            "filter" : [ "decorations" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [150, 232],
          "baseImage" : "/objects/ship station/interface/crafting/sortcommon.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/sortcommonselected.png",
          "data" : {
            "rarity" : [ "common" ]
          }
        },
        {
          "position" : [156, 232],
          "baseImage" : "/objects/ship station/interface/crafting/sortuncommon.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/sortuncommonselected.png",
          "data" : {
            "rarity" : [ "uncommon" ]
          }
        },
        {
          "position" : [162, 232],
          "baseImage" : "/objects/ship station/interface/crafting/sortrare.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/sortrareselected.png",
          "data" : {
            "rarity" : [ "rare" ]
          }
        },
        {
          "position" : [168, 232],
          "baseImage" : "/objects/ship station/interface/crafting/sortlegendary.png",
          "baseImageChecked" : "/objects/ship station/interface/crafting/sortlegendaryselected.png",
          "data" : {
            "rarity" : [ "legendary" ]
          }
        }
      ]
    }
  },
  "tooltip" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "itemList" : {
      "position" : [2, 3],
      "type" : "list",
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [125, 25],
        "listTemplate" : {
          "itemName" : {
            "type" : "label",
            "position" : [22, 10],
            "hAnchor" : "left",
            "wrapWidth" : 116,
            "value" : "Golden Moustache"
          },
          "itemIcon" : {
            "type" : "itemslot",
            "position" : [1, 1],
            "callback" : "null"
          },
          "count" : {
            "type" : "label",
            "position" : [118, 0],
            "hAnchor" : "right",
            "value" : "19/99"
          }
        }
      }
    }
  }
}
