{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/objects/ship station/madtulip_craftingbody.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [322, 281]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  SHIP STATION",
      "subtitle" : "  Ship component crafting!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
		"file" : "/objects/ship station/madtulip_shipstation_menue_icon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 263],
      "hAnchor" : "mid",
      "value" : "SCHEMATICS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 263],
      "hAnchor" : "mid",
      "value" : "PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [202, 60],
      "upOffset" : 34
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [214, 60],
      "textAlign" : "center",
      "maxWidth" : 15,
      "regex" : "x?\\d{0,3}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [208, 59],
      "zlevel" : -3
    },
    "lbllvlSort" : {
      "type" : "image",
      "file" : "/interface/crafting/organizelevelhigher.png",
      "position" : [123, 252],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [274, 58],
      "caption" : "Craft"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [26, 104]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 103],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 113, 174, 251],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "width" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
              "level" : {
                "type" : "label",
                "position" : [138, 9],
                "hAnchor" : "mid",
                "value" : "Lvl. 100"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [126, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [138, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [190, 70],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [56, 88],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : true
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [10, 65],
          "baseImage" : "/objects/ship station/madtulip_filter_meterials.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_meterials_selected.png",
          "data" : {
            "filter" : [ "materials" ]
          }
        },
        {
          "position" : [30, 65],
          "baseImage" : "/objects/ship station/madtulip_filter_objects.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_objects_selected.png",
          "data" : {
            "filter" : [ "objects" ]
          }
        },
        {
          "position" : [50, 65],
          "baseImage" : "/objects/ship station/madtulip_filter_systems.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_systems_selected.png",
          "data" : {
            "filter" : [ "systems" ]
          }
        },
        {
          "position" : [70, 65],
          "baseImage" : "/objects/ship station/madtulip_filter_modules.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_modules_selected.png",
          "data" : {
            "filter" : [ "modules" ]
          }
        },
        {
          "position" : [90, 65],
          "baseImage" : "/objects/ship station/madtulip_filter_tech.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_tech_selected.png",
          "data" : {
            "filter" : [ "madtulip_tech" ]
          }
        },
        {
          "position" : [130, 65],
          "baseImage" : "/interface/crafting/other.png",
          "baseImageChecked" : "/interface/crafting/otherSelected.png",
          "data" : {
            "filter" : [ "other" ]
          }
        },
        {
          "position" : [10, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_apex.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_apex_selected.png",
          "data" : {
            "filter" : [ "apex" ]
          }
        },
        {
          "position" : [30, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_avian.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_avian_selected.png",
          "data" : {
            "filter" : [ "avian" ]
          }
        },
        {
          "position" : [50, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_floran.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_floran_selected.png",
          "data" : {
            "filter" : [ "floran" ]
          }
        },
        {
          "position" : [70, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_glitch.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_glitch_selected.png",
          "data" : {
            "filter" : [ "glitch" ]
          }
        },
        {
          "position" : [90, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_human.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_human_selected.png",
          "data" : {
            "filter" : [ "human" ]
          }
        },
        {
          "position" : [110, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_hylotl.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_hylotl_selected.png",
          "data" : {
            "filter" : [ "hylotl" ]
          }
        },
        {
          "position" : [130, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_novakid.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_novakid_selected.png",
          "data" : {
            "filter" : [ "novakid" ]
          }
        },
        {
          "position" : [150, 45],
          "baseImage" : "/objects/ship station/madtulip_filter_generic.png",
          "baseImageChecked" : "/objects/ship station/madtulip_filter_generic_selected.png",
          "data" : {
            "filter" : [ "generic" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [8, 252],
          "baseImage" : "/interface/crafting/sortcommon.png",
          "baseImageChecked" : "/interface/crafting/sortcommonselected.png",
          "data" : {
            "rarity" : [ "common" ]
          }
        },
        {
          "position" : [14, 252],
          "baseImage" : "/interface/crafting/sortuncommon.png",
          "baseImageChecked" : "/interface/crafting/sortuncommonselected.png",
          "data" : {
            "rarity" : [ "uncommon" ]
          }
        },
        {
          "position" : [20, 252],
          "baseImage" : "/interface/crafting/sortrare.png",
          "baseImageChecked" : "/interface/crafting/sortrareselected.png",
          "data" : {
            "rarity" : [ "rare" ]
          }
        },
        {
          "position" : [26, 252],
          "baseImage" : "/interface/crafting/sortlegendary.png",
          "baseImageChecked" : "/interface/crafting/sortlegendaryselected.png",
          "data" : {
            "rarity" : [ "legendary" ]
          }
        }
      ]
    }
  },
  "tooltip" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true
    },
    "itemList" : {
      "position" : [2, 3],
      "type" : "list",
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [125, 25],
        "listTemplate" : {
          "itemName" : {
            "type" : "label",
            "position" : [22, 10],
            "hAnchor" : "left",
            "width" : 116,
            "value" : "Golden Moustache"
          },
          "itemIcon" : {
            "type" : "itemslot",
            "position" : [1, 1],
            "callback" : "null"
          },
          "count" : {
            "type" : "label",
            "position" : [118, 0],
            "hAnchor" : "right",
            "value" : "19/99"
          }
        }
      }
    }
  }
}
