{
	"__merge" : [],
	"defaultBlueprints" : {
		"__merge" : [],
		"tier1" : [
			{ "item" : "apexshipdetails" },
			{ "item" : "apexshipsupport" },
			{ "item" : "apexshipwall" },
			
			{ "item" : "madtulip_polymer" },
			{ "item" : "madtulip_capacitor_100nf" },
			{ "item" : "madtulip_ic_logic" },
			{ "item" : "madtulip_mainboard" },
			{ "item" : "madtulip_pcb" },
			{ "item" : "madtulip_resistor_4k7" },
			{ "item" : "madtulip_silicium" },
		
			{ "item" : "madtulip_fuelhatch" },
			{ "item" : "madtulip_shiplight" },
			{ "item" : "madtulip_shiplocker" },
			{ "item" : "madtulip_techstation" },
			{ "item" : "madtulip_teleporter" },
			{ "item" : "madtulip_captainschair" },
			{ "item" : "madtulip_shipdoor" },

			{ "item" : "madtulip_life_support_system" },
			{ "item" : "madtulip_vent" },
			{ "item" : "madtulip_shipstation" },
			{ "item" : "madtulip_shipnavigationconsole" },
			{ "item" : "madtulip_life_support_system" },
			{ "item" : "madtulip_vent" },

			{ "item" : "madtulip_apex_flux_compensator" },
			{ "item" : "madtulip_apex_gyro_stabilizer" },
			{ "item" : "madtulip_apex_large_fin" },
			{ "item" : "madtulip_apex_medium_fin" },
			{ "item" : "madtulip_apex_turret" },
			
			{ "item" : "madtulip_avian_crystal_energy_core" },
			{ "item" : "madtulip_avian_flux_compensator" },
			{ "item" : "madtulip_avian_gyro_stabilizer" },
			{ "item" : "madtulip_avian_heat_absorber" },
			{ "item" : "madtulip_avian_large_fin" },
			
			{ "item" : "madtulip_glitch_ftl_thruster" },
			{ "item" : "madtulip_glitch_stabilization_thruster" },
			{ "item" : "madtulip_glitch_flux_compensator" },
			{ "item" : "madtulip_glitch_gyro_stabilizer" },
			{ "item" : "madtulip_glitch_tower" },
			{ "item" : "madtulip_glitch_tower2" },
			{ "item" : "madtulip_glitch_turret" },
			{ "item" : "madtulip_glitch_heat_absorber" },		
		
			{ "item" : "madtulip_human_ftl_thruster" },
			{ "item" : "madtulip_human_ship_comms" },
			{ "item" : "madtulip_human_engine_core" },
			{ "item" : "madtulip_human_flux_compensator" },
			{ "item" : "madtulip_human_gyro_stabilizer" },
			{ "item" : "madtulip_human_large_fin" },
			{ "item" : "madtulip_human_medium_fin" },
			{ "item" : "madtulip_human_small_fin" },
			{ "item" : "madtulip_human_stabilization_thruster" }
		]
	}
}