{
  "mainWakeupInterval" : 100,
  "clockUpdatePacketInterval" : 500,
  "clientWaitLimit" : 40000,
  "updateMeasureWindow" : 60000,
  "storageTriggerInterval" : 60000,
  "maxBehindUpdates" : 30,

  "connectionTimeout" : 60000,
  "socketTimeout" : 60000,

  "worldInactiveShutdown" : 30000,

  "speciesShips" : {
    "apex" : "/ships/apex/madtulip_dropship.structure",
    "avian" : "/ships/avian/madtulip_dropship.structure",
    "floran" : "/ships/floran/madtulip_dropship.structure",
    "human" : "/ships/human/madtulip_dropship.structure",
    "hylotl" : "/ships/hylotl/madtulip_dropship.structure",
    "glitch" : "/ships/glitch/madtulip_dropship.structure"
  }
}
