{
	"__merge" : [],
	
		"level32" : [
			
			{"item" : "madtulip_apex_scoutship-chip"},
			{"item" : "madtulip_human_scoutship-chip"},
			{"item" : "madtulip_hylotl_scoutship-chip"},
			{"item" : "madtulip_floran_scoutship-chip"},
			{"item" : "madtulip_avian_scoutship-chip"},
			{"item" : "madtulip_glitch_scoutship-chip"}	
		]
	
}