{
  "blockKey": [
    {
      "comment": "no comment defined",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "value": [
        255,
        255,
        255,
        255
      ]
    },
    {
      "comment": "no comment defined",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "value": [
        0,
        0,
        255,
        255
      ]
    },
    {
      "comment": "no comment defined",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "value": [
        255,
        0,
        0,
        255
      ]
    },
    {
      "comment": "apexshipsupport",
      "foregroundBlock": true,
      "backgroundBlock": false,
      "foregroundMat": "apexshipsupport",
      "value": [
        2,
        0,
        3,
        255
      ]
    },
    {
      "comment": "apexshipsupport  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "apexshipsupport",
      "value": [
        2,
        1,
        3,
        255
      ]
    },
    {
      "comment": "apexshipsupport  apexshipsupport",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "apexshipsupport",
      "backgroundMat": "apexshipsupport",
      "value": [
        2,
        2,
        3,
        255
      ]
    },
    {
      "comment": "apexshipsupport  steelplatform",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "steelplatform",
      "backgroundMat": "apexshipsupport",
      "value": [
        2,
        3,
        3,
        255
      ]
    },
    {
      "comment": "glass",
      "foregroundBlock": true,
      "backgroundBlock": false,
      "foregroundMat": "glass",
      "value": [
        2,
        0,
        4,
        255
      ]
    },
    {
      "comment": "glass  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "glass",
      "value": [
        2,
        1,
        4,
        255
      ]
    },
    {
      "comment": "glass  glass",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "foregroundMat": "glass",
      "backgroundMat": "glass",
      "value": [
        2,
        2,
        4,
        255
      ]
    },
    {
      "comment": "glass  steelplatform",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "foregroundMat": "steelplatform",
      "backgroundMat": "glass",
      "value": [
        2,
        3,
        4,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration",
      "foregroundBlock": true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_bottom_decoration",
      "value": [
        2,
        0,
        29,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        2,
        1,
        29,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_bottom_decoration",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_bottom_decoration",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        2,
        2,
        29,
        255
      ]
    },
    {
      "comment": "madtulip_detail",
      "foregroundBlock": true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_detail",
      "value": [
        2,
        0,
        30,
        255
      ]
    },
    {
      "comment": "madtulip_detail  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_detail",
      "value": [
        2,
        1,
        30,
        255
      ]
    },
    {
      "comment": "madtulip_detail  madtulip_detail",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_detail",
      "backgroundMat": "madtulip_detail",
      "value": [
        2,
        2,
        30,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration",
      "foregroundBlock": true,
      "backgroundBlock": false,
      "foregroundMat": "madtulip_top_decoration",
      "value": [
        2,
        0,
        31,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        2,
        1,
        31,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_top_decoration",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_top_decoration",
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        2,
        2,
        31,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  ",
      "foregroundBlock": true,
      "backgroundBlock": false,
      "backgroundMat": "madtulip_wallplate",
      "value": [
        2,
        0,
        32,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  ",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "value": [
        2,
        1,
        32,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_wallplate",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_wallplate",
      "backgroundMat": "madtulip_wallplate",
      "value": [
        2,
        2,
        32,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_ftl_thruster",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "object": "madtulip_glitch_ftl_thruster",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        1,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_stabilization_thruster",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "object": "madtulip_glitch_stabilization_thruster",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        2,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_gyro_stabilizer",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "object": "madtulip_glitch_gyro_stabilizer",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        3,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_medium_fin",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "object": "madtulip_glitch_medium_fin",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        7,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_small_fin right",
      "foregroundBlock": false,
      "backgroundBlock": false,
      "object": "madtulip_glitch_small_fin",
      "objectDirection": "right",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        1,
        4,
        8,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_shiplocker",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "object": "madtulip_shiplocker",
      "objectParameters": {
        "treasurePools": [
          "madtulip_glitchShipStarterTreasure"
        ],
        "level": 1.0,
        "unbreakable": false
      },
      "value": [
        1,
        4,
        6,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_glitch_shipdoor",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "object": "madtulip_glitch_shipdoor",
      "value": [
        1,
        4,
        5,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_captainschair left",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_bottom_decoration",
      "object": "madtulip_captainschair",
      "objectDirection": "right",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        1,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_techstation",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "object": "madtulip_techstation",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        2,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_shipstation",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "object": "madtulip_shipstation",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        3,
        255
      ]
    },
    {
      "comment": "glass  madtulip_shipnavigationconsole right",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "glass",
      "object": "madtulip_shipnavigationconsole",
      "objectDirection": "right",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        4,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_vent",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "object": "madtulip_vent",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        5,
        255
      ]
    },
    {
      "comment": "madtulip_wallplate  madtulip_fuelhatch",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_wallplate",
      "object": "madtulip_fuelhatch",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        6,
        255
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_shiplight",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_top_decoration",
      "object": "madtulip_shiplight",
      "value": [
        3,
        0,
        7,
        255
      ]
    },
    {
      "comment": "glass  madtulip_shiplight",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "glass",
      "object": "madtulip_shiplight",
      "value": [
        3,
        0,
        8,
        255
      ]
    },
    {
      "comment": "shipengine",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "object": "shipengine",
      "objectParameters": {
        "unbreakable": false
      },
      "value": [
        3,
        0,
        9,
        255
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_teleporter",
      "foregroundBlock": false,
      "backgroundBlock": true,
      "backgroundMat": "madtulip_bottom_decoration",
      "object": "madtulip_teleporter",
      "objectParameters": {
        "unbreakable": false
      },
      "flags": [
        "playerSpawn"
      ],
      "value": [
        3,
        0,
        10,
        255
      ]
    },
    {
      "comment": "madtulip_glitch_bl  madtulip_glitch_bl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_bl",
      "backgroundMat": "madtulip_glitch_bl",
      "value": [
        0,
        4,
        101,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_blt  madtulip_glitch_blt",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_blt",
      "backgroundMat": "madtulip_glitch_blt",
      "value": [
        0,
        4,
        102,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_br  madtulip_glitch_br",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_br",
      "backgroundMat": "madtulip_glitch_br",
      "value": [
        0,
        4,
        103,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_default  madtulip_glitch_default",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_default",
      "backgroundMat": "madtulip_glitch_default",
      "value": [
        0,
        4,
        104,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_lr  madtulip_glitch_lr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_lr",
      "backgroundMat": "madtulip_glitch_lr",
      "value": [
        0,
        4,
        105,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_ltr  madtulip_glitch_ltr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_ltr",
      "backgroundMat": "madtulip_glitch_ltr",
      "value": [
        0,
        4,
        106,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_rbl  madtulip_glitch_rbl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_rbl",
      "backgroundMat": "madtulip_glitch_rbl",
      "value": [
        0,
        4,
        107,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_tb  madtulip_glitch_tb",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_tb",
      "backgroundMat": "madtulip_glitch_tb",
      "value": [
        0,
        4,
        108,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_tl  madtulip_glitch_tl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_tl",
      "backgroundMat": "madtulip_glitch_tl",
      "value": [
        0,
        4,
        109,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_tr  madtulip_glitch_tr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_tr",
      "backgroundMat": "madtulip_glitch_tr",
      "value": [
        0,
        4,
        110,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_trb  madtulip_glitch_trb",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_trb",
      "backgroundMat": "madtulip_glitch_trb",
      "value": [
        0,
        4,
        111,
        100
      ]
    },
    {
      "comment": "madtulip_glitch_trbl  madtulip_glitch_trbl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_trbl",
      "backgroundMat": "madtulip_glitch_trbl",
      "value": [
        0,
        4,
        112,
        100
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_glitch_bl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_bl",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        0,
        4,
        113,
        100
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_glitch_br",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_br",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        0,
        4,
        114,
        100
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_glitch_tl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_tl",
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        0,
        4,
        115,
        100
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_glitch_tr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch_tr",
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        0,
        4,
        116,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_bl  madtulip_glitch2_bl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_bl",
      "backgroundMat": "madtulip_glitch2_bl",
      "value": [
        0,
        4,
        117,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_blt  madtulip_glitch2_blt",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_blt",
      "backgroundMat": "madtulip_glitch2_blt",
      "value": [
        0,
        4,
        118,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_br  madtulip_glitch2_br",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_br",
      "backgroundMat": "madtulip_glitch2_br",
      "value": [
        0,
        4,
        119,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_default  madtulip_glitch2_default",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_default",
      "backgroundMat": "madtulip_glitch2_default",
      "value": [
        0,
        4,
        120,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_lr  madtulip_glitch2_lr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_lr",
      "backgroundMat": "madtulip_glitch2_lr",
      "value": [
        0,
        4,
        121,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_ltr  madtulip_glitch2_ltr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_ltr",
      "backgroundMat": "madtulip_glitch2_ltr",
      "value": [
        0,
        4,
        122,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_rbl  madtulip_glitch2_rbl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_rbl",
      "backgroundMat": "madtulip_glitch2_rbl",
      "value": [
        0,
        4,
        123,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_tb  madtulip_glitch2_tb",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_tb",
      "backgroundMat": "madtulip_glitch2_tb",
      "value": [
        0,
        4,
        124,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_tl  madtulip_glitch2_tl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_tl",
      "backgroundMat": "madtulip_glitch2_tl",
      "value": [
        0,
        4,
        125,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_tr  madtulip_glitch2_tr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_tr",
      "backgroundMat": "madtulip_glitch2_tr",
      "value": [
        0,
        4,
        126,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_trb  madtulip_glitch2_trb",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_trb",
      "backgroundMat": "madtulip_glitch2_trb",
      "value": [
        0,
        4,
        127,
        100
      ]
    },
    {
      "comment": "madtulip_glitch2_trbl  madtulip_glitch2_trbl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_trbl",
      "backgroundMat": "madtulip_glitch2_trbl",
      "value": [
        0,
        4,
        128,
        100
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_glitch2_bl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_bl",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        0,
        4,
        129,
        100
      ]
    },
    {
      "comment": "madtulip_bottom_decoration  madtulip_glitch2_br",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_br",
      "backgroundMat": "madtulip_bottom_decoration",
      "value": [
        0,
        4,
        130,
        100
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_glitch2_tl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_tl",
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        0,
        4,
        131,
        100
      ]
    },
    {
      "comment": "madtulip_top_decoration  madtulip_glitch2_tr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glitch2_tr",
      "backgroundMat": "madtulip_top_decoration",
      "value": [
        0,
        4,
        132,
        100
      ]
    },
    {
      "comment": "madtulip_glass_bl  madtulip_glass_bl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_bl",
      "backgroundMat": "madtulip_glass_bl",
      "value": [
        0,
        7,
        101,
        100
      ]
    },
    {
      "comment": "madtulip_glass_blt  madtulip_glass_blt",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_blt",
      "backgroundMat": "madtulip_glass_blt",
      "value": [
        0,
        7,
        102,
        100
      ]
    },
    {
      "comment": "madtulip_glass_br  madtulip_glass_br",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_br",
      "backgroundMat": "madtulip_glass_br",
      "value": [
        0,
        7,
        103,
        100
      ]
    },
    {
      "comment": "madtulip_glass_default  madtulip_glass_default",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_default",
      "backgroundMat": "madtulip_glass_default",
      "value": [
        0,
        7,
        104,
        100
      ]
    },
    {
      "comment": "madtulip_glass_lr  madtulip_glass_lr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_lr",
      "backgroundMat": "madtulip_glass_lr",
      "value": [
        0,
        7,
        105,
        100
      ]
    },
    {
      "comment": "madtulip_glass_ltr  madtulip_glass_ltr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_ltr",
      "backgroundMat": "madtulip_glass_ltr",
      "value": [
        0,
        7,
        106,
        100
      ]
    },
    {
      "comment": "madtulip_glass_rbl  madtulip_glass_rbl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_rbl",
      "backgroundMat": "madtulip_glass_rbl",
      "value": [
        0,
        7,
        107,
        100
      ]
    },
    {
      "comment": "madtulip_glass_tb  madtulip_glass_tb",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_tb",
      "backgroundMat": "madtulip_glass_tb",
      "value": [
        0,
        7,
        108,
        100
      ]
    },
    {
      "comment": "madtulip_glass_tl  madtulip_glass_tl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_tl",
      "backgroundMat": "madtulip_glass_tl",
      "value": [
        0,
        7,
        109,
        100
      ]
    },
    {
      "comment": "madtulip_glass_tr  madtulip_glass_tr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_tr",
      "backgroundMat": "madtulip_glass_tr",
      "value": [
        0,
        7,
        110,
        100
      ]
    },
    {
      "comment": "madtulip_glass_trb  madtulip_glass_trb",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_trb",
      "backgroundMat": "madtulip_glass_trb",
      "value": [
        0,
        7,
        111,
        100
      ]
    },
    {
      "comment": "madtulip_glass_trbl  madtulip_glass_trbl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_trbl",
      "backgroundMat": "madtulip_glass_trbl",
      "value": [
        0,
        7,
        112,
        100
      ]
    },
    {
      "comment": "glass  madtulip_glass_bl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_bl",
      "backgroundMat": "glass",
      "value": [
        0,
        7,
        113,
        100
      ]
    },
    {
      "comment": "glass  madtulip_glass_br",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_br",
      "backgroundMat": "glass",
      "value": [
        0,
        7,
        114,
        100
      ]
    },
    {
      "comment": "glass  madtulip_glass_tl",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_tl",
      "backgroundMat": "glass",
      "value": [
        0,
        7,
        115,
        100
      ]
    },
    {
      "comment": "glass  madtulip_glass_tr",
      "foregroundBlock": true,
      "backgroundBlock": true,
      "foregroundMat": "madtulip_glass_tr",
      "backgroundMat": "glass",
      "value": [
        0,
        7,
        116,
        100
      ]
    }
  ]
}
